<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Attendance Portal{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ PREFIX }}/static/favicon.ico?v={{ STATIC_VERSION|default("1.0") }}" sizes="any">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block messages %}{% include "partials/messages.html" %}{% endblock %}
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>

